<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small>Reports</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/reports"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
      <li class="active"><i class="fa fa-bar-chart-o"></i> Monthly Allocation - Allocation v Apps - <%=@reviewer.name%></li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :"reports/datepicker_partial", :locals => {:disableFlags => true, :showReviewerOpt => true, :totalIsOption => true} %>

<div class="row" style="margin-top:-8px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<h4>Allocation v Completion Stats - <%=h(@reviewer.name)%></h4>
  	<b>Total Apps Allocated: </b><%=@rangeTotalAllocated%><br />
  	<b>Total Apps Completed: </b><%=@rangeTotalActual%>
  </div>
</div>


<div class="row" style="margin-top:20px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<h4>Allocation v Actual</h4>
  	<canvas id='graph' width="1100px;" height="400px"></canvas>
  </div>
</div>

<div class="row" style="margin-top:0px; margin-bottom:10px;">
  <div class="col-lg-12" style="text-align:center;">
    <span style="color:rgba(151,187,205,1);">Allocated Apps</span>
    <span style="color:#F7464A; margin-left:24px;">Actual Apps</span>
  </div>
</div>

<script type="text/javascript">
  var data = {
    labels : [<%=("\"" + @labels.join("\",\"") + "\"")%>],
    datasets : [{
      label: 'Allocation',
      backgroundColor : 'rgba(151,187,205,1)',
      borderColor : 'rgba(151,187,205,1)',
      pointBackgroundColor : 'rgba(151,187,205,1)',
      pointBorderColor: '#FFF',
      fill: false,
      lineTension: 0,
      data : [<%=@data_alloc.join(',')%>]
     },
     {
      label: 'Actual',
      backgroundColor : 'rgba(247,70,74,1)',
      borderColor : 'rgba(247,70,74,1)',
      pointBackgroundColor : 'rgba(247,70,74,1)',
      pointBorderColor: '#FFF',
      fill: false,
      lineTension: 0,
      data : [<%=@data_actual.join(',')%>]
     }]
  };
  
  var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  };

  var ctx = $('#graph').get(0).getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
  });
</script>

<%= erb :footer_partial %>