<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small>Reports</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/reports"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
      <li class="active"><i class="fa fa-bar-chart-o"></i> Tests - Apps and Tests over Time</li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :"reports/datepicker_partial" %>

<div class="row" style="margin-top:-10px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<h4>Date Range Totals</h4>
  	<b>Total Apps Tested: </b><%=@appCountTotal%>&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Total Security Tests: </b><%=@totalTests%>&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Internal: </b><%=@totalNonConTests%>&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Contractor: </b><%=@totalConTests%>
  </div>
</div>

<div class="row" style="margin-top:10px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<h4>Apps and Tests over Time</h4>
  	<canvas id='graph' width="1100px;" height="450px"></canvas>
  </div>
</div>

<script type="text/javascript">
	var data = {
		labels : [<%=("\"" + @labels.join("\",\"") + "\"")%>],
		datasets : [{
			label: 'Internal Tests',
			backgroundColor : 'rgba(151,187,205,1)',
			borderColor : 'rgba(151,187,205,1)',
			pointBackgroundColor : 'rgba(151,187,205,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@nonConTestCounts.join(',')%>]
		 },
		 {
			label: 'Contractor Tests',
			backgroundColor : 'rgba(247,70,74,1)',
			borderColor : 'rgba(247,70,74,1)',
			pointBackgroundColor : 'rgba(247,70,74,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@conTestCounts.join(',')%>]
		 },
		 {
			label: 'Total Unique Apps',
			backgroundColor : 'rgba(253,180,92,1)',
			borderColor : 'rgba(253,180,92,1)',
			pointBackgroundColor : 'rgba(253,180,92,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@appCounts.join(',')%>]
		 }]
	};

	var options = {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true
				}
			}]
		}
	};

	var ctx = $('#graph').get(0).getContext('2d');
	var chart = new Chart(ctx, {
		type: 'line',
		data: data,
		options: options
	});
</script>

<%= erb :footer_partial %>