<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small>Reports</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/reports"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
      <li class="active"><i class="fa fa-bar-chart-o"></i> Tests - Test and Approval Times</li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :"reports/datepicker_partial" %>

<div class="row" style="margin-top:-8px; margin-bottom:20px;">
  <div class="col-lg-12">
  	This report shows data about the time from the start of a test to its completion (and approval flow if needed) for tests started in a given period of time. Tests are included in this report only if the <b>close time</b> was within the date range. To see time that a review spent in the Queue before test completion, please run the <a href="/reports/tests/timeInQueue">Total Time in Queue</a> report.
  </div>
</div>

<div class="row" style="margin-top:-10px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<h4>Date Range Totals</h4>
  	<b>Internal Avg (days): </b><%=@dr_internalAvgDays%>&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Contractor Avg (days): </b><%=@dr_conAvgDays%>&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Approval Avg (days): </b><%=@dr_approvalAvgDays%>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>

<div class="row" style="margin-top:20px; margin-bottom:20px;">
  <div class="col-lg-12">
  	<h4>Test Times (Days)</h4>
  	<canvas id='TestTimes' width="1100px;" height="400px"></canvas>
  </div>
</div>

<div class="row" style="margin-top:20px; margin-bottom:20px;">
  <div class="col-lg-12">
  	<h4>Contractor Test and Approval Times (Days)</h4>
  	<canvas id='ApprovalTimes' width="1100px;" height="400px"></canvas>
  </div>
</div>

<script type="text/javascript">
	var testData = {
		labels : [<%=("\"" + @labels.join("\",\"") + "\"")%>],
		datasets : [{
			label: 'Internal Test Times',
			borderColor : 'rgba(151,187,205,1)',
			backgroundColor: 'rgba(151,187,205,1)',
			pointBackgroundColor : 'rgba(151,187,205,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@counts.join(',')%>]
		 },
		 {
			label: 'Contractor Total Test Times',
			borderColor : 'rgba(247,70,74,1)',
			backgroundColor : 'rgba(247,70,74,1)',
			pointBackgroundColor : 'rgba(247,70,74,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@conCounts.map.with_index{|x,i| x + @approvalCounts[i]}.join(',')%>]
		 }]
	};

	var approvalData = {
		labels : [<%=("\"" + @labels.join("\",\"") + "\"")%>],
		datasets : [{
			label: 'Contractor Test Times',
			borderColor : 'rgba(247,70,74,1)',
			backgroundColor : 'rgba(247,70,74,1)',
			pointBackgroundColor : 'rgba(247,70,74,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@conCounts.join(',')%>]
		 },
		 {
			label: 'Approval Times',
			borderColor : 'rgba(253,180,92,1)',
			backgroundColor : 'rgba(253,180,92,1)',
			pointBackgroundColor : 'rgba(253,180,92,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@approvalCounts.join(',')%>]
		 }]
	};

	var options = {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true,
				}
			}]
		}
	};
	

	var testCtx = $('#TestTimes').get(0).getContext('2d');
	var approvalCtx = $('#ApprovalTimes').get(0).getContext('2d');

	var testChart = new Chart(testCtx, {
		type: 'line',
		data: testData,
		options: options
	});

	var approvalChart = new Chart(approvalCtx, {
		type: 'line',
		data: approvalData,
		options: options
	});
</script>

<%= erb :footer_partial %>