<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small>Reports</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/reports"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
      <li class="active"><i class="fa fa-bar-chart-o"></i> Tests - Total Time to Resolution</li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :"reports/datepicker_partial" %>

<div class="row" style="margin-top:-8px; margin-bottom:20px;">
  <div class="col-lg-12">
  	This report shows data about the total time to resolution for security tests started in a given period of time. This is calculated by looking at the total time between when a Test is created when it is completed (either pass or fail). This is a test-level metric. To see average time of test completion (security test phase only), please run the <a href="/reports/tests/testTimes">Test Times</a> report.
  </div>
</div>

<div class="row" style="margin-top:-10px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<h4>Date Range Totals</h4>
  	<b>Total Tests: </b><%=@totalTests%>&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Avg TTR: </b><%=@avgTTR.round(2)%> days&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Max: </b><%=@maxes.max().round(2)%>&nbsp;&nbsp;&nbsp;&nbsp;
  	<b>Min: </b><%=@mins.min().round(2)%>
  </div>
</div>

<div class="row" style="margin-top:10px; margin-bottom:0px;">
  <div class="col-lg-12">
  	<h4>Total Time to Test Resolution (Days)</h4>
  	<canvas id='graph' width="1100px;" height="450px"></canvas>
  </div>
</div>

<% @labels.each_with_index do |l, i| %>
	<% if (i%3==0) %>
		<div class="row" style="margin-top:20px; margin-left:26px;">
	<% end %>

	<div class="col-lg-4">
		<b><%=l%></b><br />
		&nbsp;&nbsp;&nbsp;<b>Avg:</b> <% if @counts[i].nil? %> No Data <% else %> <%=@counts[i].round(2)%> days<% end %><br />
		&nbsp;&nbsp;&nbsp;<b>Num Tests:</b> <% if @counts[i].nil? %> No Data <% else %> <%=@numTests[i]%><% end %><br />
		&nbsp;&nbsp;&nbsp;<b>Min:</b> <% if @minTests[i].nil? %> No Data <% else %> <a href="/tests/<%=@minTests[i].id%>"><%=h(@minTests[i].application.name)%></a> (<%=@mins[i].round(2)%> days)<% end %><br />
		&nbsp;&nbsp;&nbsp;<b>Max:</b> <% if @maxTests[i].nil? %> No Data <% else %> <a href="/tests/<%=@maxTests[i].id%>"><%=h(@maxTests[i].application.name)%></a> (<%=@maxes[i].round(2)%> days)<% end %>
	</div>

	<% if ((i+1)%3==0 || i+1 == @labels.size) %>
		</div>
	<% end %>
<% end %>

<% target = Array.new %>
<% @counts.length.times do target << @avgTTR.round(2) end %>

<script type="text/javascript">
	var data = {
		labels : [<%=("\"" + @labels.join("\",\"") + "\"")%>],
		datasets : [
		{
			label: 'Total Time to Resolution',
			borderColor : 'rgba(151,187,205,1)',
			backgroundColor : 'rgba(151,187,205,1)',
			pointBackgroundColor : 'rgba(151,187,205,1)',
			pointBorderColor: '#FFF',
			fill: false,
			lineTension: 0,
			data : [<%=@counts.map!{|x| x.round(3)}.join(',')%>]
		 },{
			label: 'Avg TTR',
			borderColor : 'rgba(18,122,37,.25)',
			backgroundColor : 'rgba(18,122,37,.25)',
			pointBackgroundColor : 'rgba(0,0,0,0)',
			pointBorderColor: 'rgba(0,0,0,0)',
			fill: false,
			lineTension: 0,
			data : [<%=target.join(',')%>]
		 }]
	};

	var options = {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true,
				}
			}]
		}
	};

	var ctx = $('#graph').get(0).getContext('2d');
	var chart = new Chart(ctx, {
		type: 'line',
		data: data,
		options: options
	});
</script>

<%= erb :footer_partial %>