<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small>Reports</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="/reports"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
      <li class="active"><i class="fa fa-bar-chart-o"></i> Vulnerabilities - By Type</li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :"reports/datepicker_partial" %>

<div class="row" style="margin-top:-10px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<h4>Date Range Totals</h4>
  	<b>Total Vulns: </b><%=@totalVulns%>&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>

<div class="row" style="margin-top:-8px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<canvas id='graph' width="1100px;" height="450px"></canvas>
  </div>
</div>

<script type="text/javascript">
	var data = {
		labels : [<%=("\"" + @labels.join("\",\"") + "\"")%>],
		datasets : [{
			label: 'Vuln Counts',
			borderColor : 'rgba(151,187,205,1)',
			backgroundColor : 'rgba(151,187,205,0.8)',
			data : [<%=@counts.join(',')%>]
		 }]
	};

	var max = <%=@counts.max%>;
	var maxSteps = 25;
	var steps = Math.min(max, maxSteps);
	
	var options = {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: true,
					maxTicksLimit: steps,
					stepSize: Math.ceil(max / steps)
				}
			}]
		}
	};

	var ctx = $('#graph').get(0).getContext('2d');
	var trend = new Chart(ctx, {
		type: 'bar',
		data: data,
		options: options
	});
</script>

<div class="row" style="margin-top:-8px; margin-bottom:10px;">
  <div class="col-lg-12">
  	<% if @counts.size > 0 %>
	  	<table class="table table-striped tablesorter" style="table-layout:fixed;width:100%;margin-top:20px;">
			<thead>
				<tr>
					<th style="width:75%"><b>Vulnerability</b> <i class="fa fa-sort"></i></th>
					<th style="width:25%"><b>Count</b> <i class="fa fa-sort"></i></th>
				</tr>
			</thead>

			<tbody>
			<% @counts.each_with_index do |ct, idx| %>
				<tr>
					<td style="width:75%"><%=@labels[idx]%></td>
					<td style="width:25%"><%=ct%></td>
				</tr>
			<% end %>
			</tbody>
	    </table>
	<% else %>
		<br /><br />Report returned no results
	<% end %>
  </div>
</div>

<%= erb :footer_partial %>