<html>
	<head>
		<title>Security Test Report for <%=h(@app.name)%></title>

		<style type="text/css">
			body{
				background-color: #e5e5e5;
				color: #F0F1F2;
				font-family: Arial, Helvetica, sans-serif;
			}

			@media print {
				body{
					background-color: #fff;
					color: #000;
				}

				h1, h2, h3, h4, h5{
					page-break-after: avoid; /* keep headers with bodies */
				}
			}

			a:link, a:visited, a:active{
				color: #4e6a91;
				text-decoration: none;
			}

			a:hover{
				color: #a5cfe7;
			}

			@media print {
				a:link, a:visited, a:active, a:hover{
					color: #000;
				}
			}

			.strongP{
				font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
				font-weight: 600;
			}

			.container{
				background-color: #f0f8fc;
				color: #4e6a91;
				width: 900px;
				margin: 0 auto;
				padding: 12px;
			}

			@media print {
				.container{
					background-color: #fff;
					color: #000;
				}
			}

			.header{
				width: 900px;
				height: 60px;
				background-color: #4e6a91;
				color: #eff6fb;
				margin: 0 auto;
				padding: 12px;
				margin-top: 25px;
				text-align: center;
				vertical-align: middle;
				line-height: 66px;
				font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
				font-weight: 600;
				font-size: 22px;
			}

			@media print {
				.header{
					margin: 0;
				}
			}

			.typeHeader{
				width: 900px;
				height: 30px;
				background-color: #4e6a91;
				color: #eff6fb;
				margin: 0 auto;
				padding: 12px;
				margin-top: 25px;
				text-align: left;
				line-height: 36px;
				font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
				font-weight: 600;
				font-size: 22px;
				position:relative;
				left: -12px;
			}

			@media print {
				.typeHeader{
					margin: 0;
					page-break-after: avoid; /* keep headers with bodies */
					page-break-before: always; /* force types onto new page */
				}
			}

			.vulnDescrip{
				font-size: 10pt;
			}

			.findingHeader{
				margin-bottom: 8px;
			}

			.finding{
				margin-left: 20px;
				margin-bottom: 20px;
				font-size: 10pt;
			}

			.sectHeader{
				margin-bottom: 5px;
				font-size: 12pt;
				font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
				font-weight: 600;
			}

			.sectBody{
				width: 860px;
				font-size: 10pt;
				word-wrap: break-word;
				font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
			}

			@media print {
				/* keep headers with bodies */
				.findingHeader, .sectHeader{
					page-break-after: avoid;
				}
				.finding, .sectBody{
					page-break-before: avoid;
				}
			}

			.code{
				font-family: Consolas, Arial, Sans-Serif;
				font-size: 10pt;
				border: 1px solid #333;
				width: 850px;
				margin-top: 6px;
				margin-bottom: 6px;
				padding: 6px;
				max-height: 300px;
				overflow-y: scroll;	
				overflow-x: scroll;
				word-wrap: normal; 
			}

			pre{
				margin: 0;
				font-family: Arial, Helvetica, sans-serif;
				white-space: pre-wrap;       /* CSS 3 */
				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
				white-space: -pre-wrap;      /* Opera 4-6 */
				white-space: -o-pre-wrap;    /* Opera 7 */
				word-wrap: break-word;       /* Internet Explorer 5.5+ */
			}

			@media print {
				.code {
					/* paper can't scroll: */
					overflow-y: unset;
					overflow-x: unset;
					max-height: none;
					/* same as 'pre': */
					word-wrap: break-word;
					/* try to keep it contiguous and with header: */
					page-break-inside: avoid;
					page-break-before: avoid;
				}
			}

			.footer{
				width: 900px;
				margin: 0 auto;
				margin-top: 10px;
				margin-bottom: 20px;
				color: #666666;
				font-size: 14px;
				font-family: Arial, Helvetica, sans-serif;
				font-weight: 400;
				text-align: center;
			}

			@media print {
				.footer{
					page-break-inside: avoid;
					background-color: #e5e5e5;
				}
			}

			hr{
			    border: 0;
			    height: 1px;
			    background-image: -webkit-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0)); 
			    background-image:    -moz-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0)); 
			    background-image:     -ms-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0)); 
			    background-image:      -o-linear-gradient(left, rgba(102,102,102,0), rgba(102,102,102,0.75), rgba(102,102,102,0)); 
			}

			ol.toc{
				margin-left:30px;
			}

			ol.toc > li{
				font-size: 14pt;
				margin-bottom: 6px;
				word-wrap: break-word;
			}

			ol.vulns > li{
				font-weight: normal;
				font-size: 10pt;
				word-wrap: break-word;
			}

			@media print {
				ol.vulns{
					page-break-before: avoid; /* keep with opening text */
				}
				ol.toc > li{
					page-break-inside: avoid; /* try to keep each TOC entry contig. */
				}
				ol.vulns > li{
					page-break-before: avoid; /* keep with ol "header" */
				}
			}
		</style>
	</head>

	<body>
		<div class="header">
			<div>Security Report for <%=h(@app.name)%></div>
		</div>

		<div class="container">
			<div style="margin-bottom:30px;">
				<p>The below report outlines vulnerability and informational findings that were discovered via a mixture of automated scanning and manual security penetration testing. It is possible that there are other vulnerabilities that were not discovered during testing and are therefore not included on this report. Not all instances of each vulnerability type were enumerated.</p>

				<p>The attack vector and evidence of vulnerability associated with each item is listed with a description of the vulnerability. Suggested remediation steps and additional educational resources for each class of vulnerability are also provided.</p>

				<p class="strongP">Please note that this is not a comprehensive list of vulnerabilities in your application. Similiar and additional vulnerabilites outside of this report may exist. Please look through your entire codebase for additional security issues.</p>
			</div>

			<hr>

			<h1>Contents</h1>
			<div style="margin-bottom:30px;">
				<% count = 1 %>
				<ol class="toc">
					<% @test.verified_vulns.uniq{ |v| v.type_str }.each do |v| %>
						<li>
							<a href='#vuln<%=count%>'><%=h(v.type_str)%> Vulnerability</a> 
							<ol class="vulns">
								<% findingCount = 1 %>
								<% @test.verified_vulns.each do |vv| %>
									<% next if vv.type_str != v.type_str %>
									<% if !vv.descriptor.nil? && vv.descriptor != "" %>
										<li><a href='#vbody_<%=vv.id%>'><%=vv.descriptor%></a></li>
									<% else %>
										<li><a href='#vbody_<%=vv.id%>'>Finding <%=findingCount%></a></li>
									<% end %>
									<% findingCount += 1 %>
								<% end %>
							</ol>
						</li>
						<% count += 1 %>
					<% end %>
				</ol>
			</div>

			<% count = 1 %>
			<% @test.verified_vulns.uniq{ |v| v.type_str }.each do |v| %>
				<div class="typeHeader">
					<a id='vuln<%=count%>'><%=h(v.type_str)%></a>
				</div>

				<% if !v.type_html.nil? %>
					<h3>Issue Description</h3>
					<div class="vulnDescrip">
						<%=v.type_html%>
						<% if !v.cwe_mapping.nil? %>
							<b>CWE</b>: <a href="<%=v.cwe_link%>" target="_blank"><%=v.cwe_mapping%></a>
						<% end %>
					</div>

					<h3>Risk Level / Priority</h3>
					<div class="vulnDescrip">
						<%=vulnPriorityToString(v.vuln_priority, @test.record_type)%>
					</div>
				<% end %>
				
				<% typeCount = 0 %>
				<% @test.verified_vulns.each do |vv| %>
					<% next if vv.type_str != v.type_str %>
					<% typeCount += 1 %>
				<% end %>

				<% findingCount = 1 %>
				<% @test.verified_vulns.each do |vv| %>
					<% next if vv.type_str != v.type_str %>
					
					<h3 class="findingHeader" id="vbody_<%=vv.id%>">Finding <%=findingCount%> of <%=typeCount%></h3>

					<div class="finding">
						<% if (vv.vuln_priority != v.vuln_priority) || vv.vulntype == 0 %>
							<h4 class="sectHeader">Risk Level / Priority</h4>
							<div class="sectBody"><%=vulnPriorityToString(vv.vuln_priority, @test.record_type)%></div>
						<% end %>

						<% vv.sections.sort{|x,y| x.listOrder <=> y.listOrder }.each do |sec| %>
							<%=sec.html_formatted%>
						<% end %>
					</div>

					<% findingCount += 1 %>
					<% if findingCount <= typeCount %>
						<hr>
					<% end %>
				<% end %>
				<% count += 1 %>
			<% end %>

		</div>

		<div class="footer">
			Report does not represent in any way a guarantee of security
			<br /><br />
			Information contained in this report may be confidential
			<br /><br />
			Generated <%=Time.now.strftime('%m/%d/%Y at %I:%M %p')%>
		</div>
	</body>

</html>