<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small>Settings</small></h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-cog"></i> Vulnreport Settings</li>
      <li class="active"><small><a href="http://vulnreport.io" target="_blank">Vulnreport</a> version <b><%=@app_version%></b> on <b><%=(Sinatra::Base.environment == :production) ? "PROD" : "DEV"%> - <%=@app_hostname%></b></small></li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :admin_vrsettings_nav_partial %>

<div class="row">
  <div class="col-lg-12">
  	<form class="form-horizontal" role="form" method="POST" action="/admin/settings">
  		
      <div class="form-group">
        <label for="vr_name" class="col-sm-2 control-label">VR Instance Name:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="vr_name" size="80" value="<%=h(@vr_name)%>">
        </div>
      </div>

      <div class="form-group">
        <label for="vr_root" class="col-sm-2 control-label">Vulnreport Root:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="vr_root" size="80" value="<%=h(@vr_root)%>">
        </div>
      </div>

      <div class="form-group">
        <label for="vr_footer" class="col-sm-2 control-label">VR Footer (HTML):</label>
        <div class="col-sm-8">
          <textarea class="form-control" name="vr_footer" id="appDescr"><%=h(@vr_footer)%></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="sshotMaxSize" class="col-sm-2 control-label">Max Screenshot Size</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="text" class="form-control" name="sshotMaxSize" value="<%=@sshotMaxSize%>">
            <div class="input-group-addon">KB</div>
          </div>
        </div>

        <div class="col-sm-2"></div>

        <label for="payloadMaxSize" class="col-sm-2 control-label">Max Payload Size</label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="text" class="form-control" name="payloadMaxSize" value="<%=@payloadMaxSize%>">
            <div class="input-group-addon">KB</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="pdf_on" class="col-sm-2 control-label">PDF Export Option: </label>
        <div class="col-sm-1">
          <input type="checkbox" name="pdf_on" rel="switch" data-size="small" data-on-text="On" data-off-text="Off" <% if @pdf_on %>checked<% end %>>
        </div>
        <div class="col-sm-6" style="padding-top:7px;">
          <i>This requies that <a href="http://wkhtmltopdf.org/downloads.html" target="_blank">WKHTMLTOPDF</a> is installed in your environment</i>
        </div>
      </div>

      <hr />
      <h4 style="margin-top:-20px; margin-left:40px; margin-bottom:20px; color:#999;">SSO Settings <small style="font-size:8pt;"></small></h4>

      <div class="form-group">
        <label for="sso_auth" class="col-sm-2 control-label">SSO Auth: </label>
        <div class="col-sm-2">
          <input type="checkbox" name="sso_auth" rel="switch" data-size="small" data-on-text="On" data-off-text="Off" <% if @sso_auth %>checked<% end %>>
        </div>

        <label for="autoCreate" class="col-sm-2 control-label">
        	<i class="fa fa-question-circle" rel="tooltip" title="If an unrecognized SSO user accesses Vulnreport, a user account will be created and placed in unverified state"></i>
        	Auto-Create Users: 
        </label>
        <div class="col-sm-2">
        	<input type="checkbox" name="autoCreate" rel="switch" data-size="small" data-on-text="Yes" data-off-text="No" <% if @autoadd %>checked<% end %>>
        </div>
	    </div>

      <div class="form-group">
        <label for="sso_name" class="col-sm-2 control-label">SSO Name:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="sso_name" size="80" value="<%=@sso_name%>">
        </div>
      </div>

      <div class="form-group">
        <label for="sso_issuer" class="col-sm-2 control-label">SSO Issuer:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="sso_issuer" size="80" value="<%=@sso_issuer%>">
        </div>
      </div>

      <div class="form-group">
        <label for="sso_target_url" class="col-sm-2 control-label">SSO Target URL:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="sso_target_url" size="80" value="<%=@sso_target_url%>">
        </div>
      </div>

      <div class="form-group">
        <label for="sso_cert_fingerprint" class="col-sm-2 control-label">SSO Cert Fingerprint:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="sso_cert_fingerprint" size="80" value="<%=@sso_cert_fingerprint%>">
        </div>
      </div>

      <hr />
      <h4 style="margin-top:-20px; margin-left:40px; margin-bottom:20px; color:#999;">Vulnreport Auth Settings <small style="font-size:8pt;"></small></h4>

      <div class="form-group">
        <label for="login_auth" class="col-sm-2 control-label">Login Auth: </label>
        <div class="col-sm-2">
          <input type="checkbox" name="login_auth" rel="switch" data-size="small" data-on-text="On" data-off-text="Off" <% if @login_auth %>checked<% end %>>
        </div>

        <label for="login_pwlen" class="col-sm-2 control-label">Min Password Length:</label>
        <div class="col-sm-1">
          <input type="text" class="form-control" name="login_pwlen" size="6" value="<%=@login_pwlen%>">
        </div>
      </div>

	    <div class="form-group" style="margin-top:30px;">
        	<div class="col-sm-3"></div>
        	<div class="col-sm-3" style="text-align:center;">
        		<button type="submit" class="btn btn-primary" id="save" name="save" value="save">Save Settings</button>
        	</div>
        	<div class="col-sm-2"></div>
      </div>
      <%=csrf_tag%>
  	</form>
  </div>
</div>

<%= erb :footer_partial %>