<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Custom VulnTypes <small>Administration</small></h1>
    <ol class="breadcrumb">
      <li><a href="/admin/settings"><i class="fa fa-cog"></i> Vulnreport Settings</a></li>
      <li class="active"><i class="fa fa-asterisk"></i> Custom VulnTypes</li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :admin_types_nav_partial %>

<div class="row">
  <div class="col-lg-12">
    <p>These are the custom vulnerabilities that have been used on security tests in Vulnreport. You can consider adding these as standard VulnTypes to allow for more tracking and detail in reports, or merge them with existing standard VulnTypes.</p>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span style="font-size:12pt;"><i class="fa fa-asterisk"></i> Custom VulnTypes in Use</span>
      </div>
      <div class="panel-body">
        <table class="table table-striped-wop tablesorter" id="cvtTable">
          <thead>
            <tr>
              <th style="width:7%"><b>Uses</b> <i class="fa fa-sort"></i></th>
              <th style="width:79%"><b>Name</b> <i class="fa fa-sort"></i></th>
              <th style="width:7%"></th>
              <th style="width:7%"></th>
            </tr>
          </thead>

          <tbody>
            <% @customVTs.each_with_index do |vt, i| %>
              <tr>
                <td style="width:7%; text-align:left; vertical-align:middle;"><%=@counts[i]%> <i class="fa fa-plus-circle" style="cursor:pointer;" rel="tooltip" title="Show Uses" data-toggle="collapse" href="#collapse_<%=@firstUseVID[i]%>"></i></td>
                <td style="width:79%; text-align:left; vertical-align:middle;"><%=h(vt)%></td>
                <td style="width:7%; text-align:center;">
                  <form method="POST" action="/admin/customVTs/newFromCVT">
                    <%=csrf_tag%>
                    <input type="hidden" name="fuVID" value="<%=@firstUseVID[i]%>" />
                    <button type="submit" class="btn btn-success">Add</button>
                  </form>
                </td>
                <td style="width:7%; text-align:center;">
                  <form method="POST" action="/admin/customVTs/mergeFromCVT">
                    <%=csrf_tag%>
                    <input type="hidden" name="fuVID" value="<%=@firstUseVID[i]%>" />
                    <button type="submit" class="btn btn-warning">Merge</button>
                  </form>
                </td>
              </tr>

              <tr id="collapse_<%=@firstUseVID[i]%>" class="collapse">
                <td colspan="4" style="padding-left:24px;">
                  <b>This custom VulnType is used in the following tests:</b>
                  <span style="padding-left:24px;">
                    <ul style="margin-top:0px;margin-bottom:0px;">
                      <%@usedTIDs[i].each do |use|%>
                        <% info = use.split("|") %>
                        <li><a href="/tests/<%=info[0]%>"><%=info[2]%> - <%=info[1]%></a></li>
                      <% end %>
                    </ul>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= erb :footer_partial %>