<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Dash Configs <small>Administration</small></h1>
    <ol class="breadcrumb">
      <li><a href="/admin/settings"><i class="fa fa-cog"></i> Vulnreport Settings</a></li>
      <li class="active"><i class="fa fa-dashboard"></i> Dashboard Configs</li>
    </ol>
  </div>
</div><!-- /.row -->

<%= erb :admin_types_nav_partial %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span style="font-size:12pt;"><i class="fa fa-dashboard"></i> Dashboard Configurations</span>
        <span style="position:absolute;right:25px;">
          <a href="/admin/dashConfigs/new" style="color:#FFF;"><i class="fa fa-plus"></i> New Dashboard Config</a>
        </span>
      </div>
      <div class="panel-body" style="padding-top:0px;">
        <table class="table table-striped" style="margin-bottom:0px;">
          <thead>
            <tr>
              <th style="width:6%; text-align:center;"><b>Active</b></th>
              <th style="width:6%; text-align:center;"><b>In Use</b></th>
              <th style="width:6%; text-align:center;"><b>Custom Code</b></th>
              <th style="width:30%"><b>Name</b></th>
              <th style="width:42%"><b>Description</b></th>
              <th style="width:10%"></th>
            </tr>
          </thead>

          <tr id="dc_0">
            <td style="width:6%; text-align:center;"><i class="fa fa-check" style="color:#009933;"></i></td>
            <td style="width:6%; text-align:center;">
              <% if (Organization.count(:dashconfig => 0) + User.count(:dashOverride => 0)) > 0 %>
                <i class="fa fa-check" style="color:#009933;"></i>
              <% else %>
                <i class="fa fa-times" style="color:#B40404;"></i>
              <% end %>
            </td>
            <td style="width:6%; text-align:center;"><i class="fa fa-times" style="color:#B40404;"></i></td>
            <td style="width:30%"><i>Default Dashboard</i></td>
            <td style="width:42%"><i>Default dashboard used if Organization and/or User does not specify one. This Dash Config shows "my active reviews" and cannot be edited.</i></td>
            <td style="width:10%"></td>
          </tr>

          <% if !@dashConfigs.nil? %>
            <% @dashConfigs.each do |dc| %>
              <tr id="dc_<%=dc.id%>">
                <td style="width:6%; text-align:center;"><% if dc.active %><i class="fa fa-check" style="color:#009933;"></i><% else %><i class="fa fa-times" style="color:#B40404;"></i><% end %></td>
                <td style="width:6%; text-align:center;">
                  <% if (Organization.count(:dashconfig => dc.id) + User.count(:dashOverride => dc.id)) > 0 %>
                    <i class="fa fa-check" style="color:#009933;"></i>
                  <% else %>
                    <i class="fa fa-times" style="color:#B40404;"></i>
                  <% end %>
                </td>
                <td style="width:6%; text-align:center;"><% if dc.customCode %><i class="fa fa-check" style="color:#009933;"></i><% else %><i class="fa fa-times" style="color:#B40404;"></i><% end %></td>
                <td style="width:30%"><a href="/admin/dashConfigs/<%=dc.id%>"><%=h(dc.name)%></a></td>
                <td style="width:42%"><%=h(dc.description)%></td>
                <td style="width:10%"><a href="/admin/dashConfigs/<%=dc.id%>/delete"><button type="button" class="btn btn-danger">DELETE Dash</button></a></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= erb :footer_partial %>