<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Dash Configs <small>Administration</small></h1>
    <ol class="breadcrumb">
      <li><a href="/admin/settings"><i class="fa fa-cog"></i> Vulnreport Settings</a></li>
      <li><a href="/admin/dashConfigs"><i class="fa fa-dashboard"></i> Dashboard Configs</a></li>
      <li class="active"><i class="fa fa-dashboard"></i> <%=h(@dc.name)%></li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <form class="form-horizontal" role="form" method="POST" action="/admin/dashConfigs/<%=@dc.id%>">
      <%= csrf_tag %>
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%=@dc.name%>">
        </div>
        <div class="col-sm-1" style="text-align:left; margin-left:-20px; padding-top:5px;"></div>
      </div>

      <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">Description: </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="desc" name="desc" placeholder="Description" value="<%=@dc.description%>">
        </div>
        <div class="col-sm-1" style="text-align:left; margin-left:-20px; padding-top:5px;"></div>
      </div>

      <div class="form-group">
        <label for="isActive" class="col-sm-2 control-label">Active:</label>
        <div class="col-sm-2">
          <input type="checkbox" name="isActive" rel="switch" data-size="small" data-on-text="Yes" data-on-color="success" data-off-text="No" data-off-color="danger" <% if @dc.active %>checked<% end %>>
        </div>
      </div>

      <hr>
      <h4 style="margin-top:-20px; margin-left:40px; margin-bottom:20px; color:#999;">Custom Settings <small style="font-size:6pt;">Settings defined by custom code</small></h4>

      <% @dc.customSettings.keys.each do |k| %>
        <div class="form-group">
          <label for="custom_<%=k%>" class="col-sm-2 control-label"><%=h(@dc.customSettings[k][:name])%>: </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="custom_<%=k%>" name="custom_<%=k%>" placeholder="<%=h(@dc.customSettings[k][:name])%>" value="<%=@dc.customSettings[k][:val]%>">
          </div>
          <div class="col-sm-1" style="text-align:left; margin-left:-20px; padding-top:5px;"></div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-3" style="text-align:center;">
          <button type="submit" class="btn btn-primary" id="save" name="save" value="save">Save Dashboard</button>
        </div>
        <div class="col-sm-4"></div>
      </div>
      
    </form>
  </div>
</div>


<%= erb :footer_partial %>