<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-<%=block_1[:color]%>">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa <%=block_1[:icon]%> fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading"><%=block_1[:value]%></p>
            <p class="announcement-text"><%=h(block_1[:text])%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-<%=block_2[:color]%>">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa <%=block_2[:icon]%> fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading"><%=block_2[:value]%></p>
            <p class="announcement-text"><%=h(block_2[:text])%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-<%=block_3[:color]%>">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa <%=block_3[:icon]%> fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading"><%=block_3[:value]%></p>
            <p class="announcement-text"><%=h(block_3[:text])%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-<%=block_4[:color]%>">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa <%=block_4[:icon]%> fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <p class="announcement-heading"><%=block_4[:value]%></p>
            <p class="announcement-text"><%=h(block_4[:text])%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.row -->