<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1><%=h(@test.name)%> <small>Security Test for <%=h(@app.name)%></small></h1>
    <ol class="breadcrumb">
      <li><a href="/reviews/all"><i class="fa fa-folder"></i> Reviews</a></li>
      <li><a href="/reviews/<%=@app.id%>"><i class="fa fa-folder-open"></i> <%=h(@app.name)%></a></li>
      <li class="active"><i class="fa fa-edit"></i> <%=h(@test.name)%></li>
    </ol>
  </div>
</div><!-- /.row -->


<div class="row" style="margin-top:0px;">
  <div class="col-lg-12">
    <h4>Request Provisional Pass</h4>
    <hr style="margin-top:4px;margin-bottom:8px;" />
  </div>
</div>

<div class="row" style="margin-top:0px;">
  <div class="col-lg-1"></div>
  <div class="col-lg-5">
    <form method="POST" action="/tests/<%=@test.id%>/provPassRequest">
    <%= csrf_tag %>
    <input type="hidden" name="newstatus" value="<%=@newstatus%>" />
    <p>You are requesting a <span style="color:EEA236;">provisional pass</span> for <b><%=@app.name%> - <%=@test.name%></b>. Any vulnerabilities currently attached to the test will be sent to the partner and they will be required to remediate those issues within a specified timeframe.</p>
    <p>Please provide justification for the provisional pass below as well as a suggested timeframe. A provisional pass approver will have to approve this request before it is sent to the partner and may modify the remediation timeframe. This action will be recorded for audit.</p>
    <p>Currently, the provisional pass approvers are: <b><%=@ppApproversStr%></b>.</p>
    
    <textarea name="ppJustification" rows="4" style="width:450px;" placeholder="Provisional Pass Justification"></textarea>
    
    <br /><br />
    Suggested remedaition timeline: 
    <select name="ppRemediation">
      <option value="1">1 Month</option>
      <option value="2">2 Months</option>
      <option value="3">3 Months</option>
    </select>

    <br /><br />
    <center>
      <small><i>No action will be taken until this provisional pass request is approved</i></small>
    
      <br />
      <button type="submit" class="btn btn-success" name="confirm" value="confirm">Confirm</button>
      <button type="submit" class="btn btn-danger" name="confirm" value="cancel">Cancel</button>
    </center>
  </div>
  <div class="col-lg-6"></div>
</div>

<%= erb :footer_partial %>