<%= erb :header_partial %>

<div class="row">
  <div class="col-lg-12">
    <h1>Vulnreport <small>All Starred Vulns</small></h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Dash</a></li>
      <li class="active"><i class="fa fa-star"></i> All Starred Vulns</li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-edit"></i> All Starred Vulns</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped tablesorter" style="margin-top:-12px;">
          <thead>
            <tr>
              <th style="width:1%"><i class="fa fa-sort-down"></i></th>
              <th style="width:17%"><b>Found At</b> <i class="fa fa-sort"></i></th>
              <th style="width:24%"><b>Vulnerability</b> <i class="fa fa-sort"></i></th>
              <th style="width:28%"><b>Application</b> <i class="fa fa-sort"></i></th>
              <th style="width:18%"><b>Test</b> <i class="fa fa-sort"></i></th>
              <th style="width:12%"><b>Linked?</b> <i class="fa fa-sort"></i></th>
            </tr>
          </thead>

          <tbody>
            <% @vulns.each do |v| %>
              <tr>
                <td style="width:1%"></td>
                <td style="width:17%">
                  <%=v.created_at.strftime("%-m/%-d/%y at %l:%M:%S %p")%>
                </td>
                <td style="width:24%">
                  <a href="/tests/<%=v.test.id%>/<%=v.id%>"><%=v.type_str%></a>
                </td>
                <td style="width:28%">
                  <a href="/reviews/<%=v.test.application.id%>"><%=v.test.application.name%></a>
                </td>
                <td style="width:18%">
                  <a href="/tests/<%=v.test.id%>"><%=v.test.name%></a>
                </td>
                <td style="width:12%;">
                  <% if v.test.application.isLinked? %>
                    <a href="<%=v.test.application.linkedObjectURL%>" target="_blank"><%=v.test.application.linkedObjectText%></a>
                  <% else %>
                    -
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= erb :footer_partial %>