<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<h1>Vulnreport Allocation</h1>

		<div>
			Hi <%=@name%>,

			<% if @autoset %>
			<p>Your allocation for the month of <%=Date.today.strftime('%B')%> has been auto-set to <%=@autosetAlloc%>% based on your last used allocation. Please log in to Vulnreport to <a href="<%=@vrurl%>/confirmAlloc"><u>confirm this</u></a> or <a href="<%=@vrurl%>/usersettings"><u>set your allocation to a new value</u></a> as soon as possible.</p>
			<p>Thanks!</p>
			<% else %>
			<p>Your monthly allocation for the month of <%=Date.today.strftime('%B')%> has not been set. Please log in to Vulnreport and <a href="<%=@vrurl%>/usersettings"><u>set your allocation</u></a> as soon as possible.</p>
			<p>Thanks!</p>
			<% end %>
		</div>
	</body>
</html>